@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-poppins-sans);
}

:root {
}

.dark {
}

@layer base {
}
